
<div class="container">
    <h1>Create feedback</h1>
    <br>
    <br>
  
    <!-- <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a> -->
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        
        <div class="form-group">
            <label for="Text">Text:</label>
            <textarea
                formControlName="Text"
                id="Text" 
                type="text" 
                class="form-control">
            </textarea>

            <div *ngIf="f['Text'].touched && f['Text'].invalid" class="alert alert-danger">
                <div *ngIf="f['Text'].errors && f['Text'].errors['required']">Text is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="Rating">Rating:</label>
            <textarea
                formControlName="Rating"
                id="Rating" 
                type="text" 
                class="form-control">
            </textarea>

            <div *ngIf="f['Rating'].touched && f['Rating'].invalid" class="alert alert-danger">
                <div *ngIf="f['Rating'].errors && f['Rating'].errors['required']">Rating is required.</div>
            </div>
        </div>

  
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>